[2016-10-04 16:59] laredoza opened #1 "Implement IMembershipTable & IGatewayListProvider (Membership Provider)"
Implement Mongo Membership Provider

[2016-10-04 17:09] laredoza opened #2 "Implement IReminderTable (Reminders)"
Implemented ReminderTable functionality. I just need to do a more thorough test

[2016-10-04 17:09] laredoza opened #3 "IStatisticsPublisher (Runtime Statistics)"

[2016-10-04 17:10] laredoza opened #4 "ISiloMetricsDataPublisher/IClientMetricsDataPublisher (Silo/Client Metrics)"

[2016-10-04 21:09] laredoza commented on #1
I've completed the bulk of the work. A client seems to be able to get it's gateway & there is communication between it and the host. I've only tested this with both the client and the host on the same machine. So there is a lot of testing left.

[2017-01-30 17:17] #4 closed

[2017-01-30 17:17] #3 closed

[2017-01-30 17:17] #2 closed

[2017-01-30 17:18] #1 closed

[2017-04-14 09:58] AwsomeCode opened #5 "MongoBulkWriteException Orleans.OrleansStatisticsTable index: _id_ dup key: { : "XXX" }"
Hi I am getting below exception

Error: 0 : [2017-04-14 09:15:28.080 GMT    50	ERROR  	100835	ClientLogStatistics	192.168.3.99:0]	!!!!!!!!!! Exception occurred during Stats reporter.
Exc level 0: MongoDB.Driver.MongoBulkWriteException`1[MongoDB.Bson.BsonDocument]: A bulk write operation resulted in one or more errors.
  E11000 duplicate key error collection: Orleans.OrleansStatisticsTable index: _

[2017-04-14 16:23] laredoza commented on #5
Hi,
Thanks for reporting this issue. I will post a fix soon.  I must admit that I wrote the basic stats implementation and haven't  had a chance to test it at all yet.

I've got a bit of time this weekend and will finalize it.

[2017-04-14 17:41] AwsomeCode commented on #5
@laredoza Thanks :)

[2017-04-14 18:15] laredoza commented on #5
@AwsomeCode I've posted a fix. Should work now.

 I'd also suggest setting WriteLogStatisticsToTable="false", from what I've read this shouldn't be used on a production system.

I will also double check the logged values against the SqlProvider version this weekend. I'll post another update once I'm done.

[2017-04-14 18:32] AwsomeCode commented on #5
@laredoza Thank you for the quick fix 👍

[2017-04-14 19:24] laredoza commented on #5
@AwsomeCode  No problem.  I suspect I"m the only one using this at the moment,  so your feedback would is appreciated.

[2017-04-15 06:18] AwsomeCode commented on #5
@laredoza Ya I feel same, people don't use Mongodb much in Orleans. I don't see any drawback for using it.
Are you using mongodb for StorageProvider?

[2017-04-15 12:19] laredoza commented on #5
@AwsomeCode I'm not sure why, I've had brilliant results using Mongo and Orleans. We've shaved off months of processing time by moving from Oracle to Mongo / Orleans (Went down from 4 months to 12 days, and that was if we didn't crash Oracle with the volume of data being imported). Having replication was awesome as well.

I haven't used the Mongo StorageProvider yet.

[2017-04-15 16:09] laredoza commented on #5
@AwsomeCode  I created a package, install-package Orleans.Providers.MongoDB

[2017-04-16 05:36] AwsomeCode commented on #5
Cool 👍

[2017-04-16 05:36] #5 closed

[2017-05-09 21:52] stephenlautier opened #6 "port to netcore + orleans 2?"
Hi,

I'm quite interested in using this, will you be porting this to .netcore / orleans 2 preview?

Thanks

[2017-05-13 14:31] laredoza commented on #6
Hi,

My apologies for only getting back to you now.

I will definitely be porting the providers to core but I'm waiting for orleans 2 to be more stable /settled. From what I can see the Mongo drivers are already core compatible, so this shouldn't be too difficult.

Regards

[2017-05-14 10:42] stephenlautier commented on #6
@laredoza it's not a problem. That's great thanks!

[2017-05-14 14:30] galvesribeiro commented on #6
@laredoza you can easily have a build with conditional references. So if targeting `net461`, use the reference from nuget.org, othewise, use the one from myget. It is stable enough.

[2017-05-23 04:37] sujesharukil opened #7 "Create an implementation for Storage Provider"
The current implementation is lacking an implementation for IStorageProvider. It will be great if an implementation is provided for this.

[2017-05-23 08:04] laredoza commented on #7
@sujesharukil I have considered implementing a storage provider but there is already an implementation. https://github.com/weitaolee/Orleans.Storage.MongoDB.

I don't think there would be an advantage other than only using one nuget package.

[2017-05-23 11:50] sujesharukil commented on #7
The package you have listed is 2 years old. It internally references Orleans v 1.0. I have tried using it but ran into issues. I can fork that but would prefer this to support storage provider.
Is there a way to inject a dependency to a storage provider? I spun my own but would like to control the collection name where the state gets stored.

[2017-05-23 12:07] AwsomeCode commented on #7
You can user this also
https://github.com/dotnet/orleans/blob/master/Samples/StorageProviders/StorageProviders/MongoDBStorageProvider.cs

[2017-05-23 12:48] laredoza commented on #7
@sujesharukil, @AwsomeCode If the nuget package I referred to isn't working I don't mind adding it to the package. I'll only have a chance to look at it this weekend though.

I'm not sure about injecting, but maybe we can just add collection name to the configuration. I will have a look at the options once I implement.

[2017-05-23 12:59] laredoza commented on #6
@galvesribeiro Thanks, I will have a look at it. Just a bit tight on time at the moment. I'll probably only get a chance to look at it in July or so.

[2017-05-24 13:31] laredoza commented on #7
@AwsomeCode I started implementing the Storage provider from the link you gave. I end up with an issue where the de-serialized  object contains $type. When this is written to Mongo I get an error that this is an invalid field name:

This is the deserialized string: {\"$id\":\"1\",\"$type\":\"Orleans.Providers.MongoDB.Test.Grains.EmployeeState, Orleans.Providers.MongoDB.Test.Grains\",\"Level\":100}

[2017-05-24 15:45] ReubenBond commented on #7
@laredoza looks like there's a clash between JSON.NET's use of $type and MongoDB's: https://docs.mongodb.com/manual/reference/mongodb-extended-json/

https://stackoverflow.com/questions/9490345/json-net-change-type-field-to-another-name might help

[2017-05-29 15:01] AwsomeCode opened #8 "WriteLogStatisticsToTable="false" is not working"
I am getting documents in my OrleansStatisticsCollection.

[2017-05-29 19:48] laredoza commented on #8
@AwsomeCode Busy investigating

[2017-05-29 19:49] laredoza commented on #7
@ReubenBond Thanks, I'll have a look at it tonight

[2017-05-29 21:14] laredoza commented on #7
@ReubenBond @sujesharukil @AwsomeCode I've decided to keep it simple:

[code]

[2017-06-05 03:21] laredoza opened #10 "Test passing the Database parameter, instead of just passing it in the connection string, to the providers"
StorageProvider is working now. Must test the rest of the providers.

[2017-06-05 03:31] laredoza opened #11 "Add indexes for MongoDBStorage generated collections"
Add indexes for MongoDBStorage

[2017-06-22 10:03] fschuh commented on #7
I'm also trying to get MongoDB to work with Orleans and ran into this $type field issue.
@laredoza your solution only works if the state doesn't reference other complex objects.
Nested objects will still have the invalid field names:

[code]
I think the solution may be either a string replacement of the whole entityData (ouch), or do something on the Json.NET level...

[2017-06-22 20:15] laredoza commented on #7
Thanks @fschuh I guess my solution was a little too easy. I've implemented another solution. If you look at the employeeState class it now has an address sub class & an array. It saves successfully now. I"ve used a combination of the a JsonTextReader and JsonTextWriter.  I don't think this is the most elegant solution but it seems to work. This will require more testing. I'd appreciate it if you h

[2017-06-23 12:39] asifshiraz opened #12 "Method Not Found on GrainReference.FromKeyString"
Hi,

I'm getting an error when using this library for Orleans reminders.

It throws an error on line 101 in MongoReminderTableRepository.cs, saying that Method not found.
It seems to be calling GrainReference.FromKeyString, which is an internal method in Orleans library.
Any suggestions?

[2017-06-23 13:47] laredoza commented on #12
Hi,

Could you please supply your package,json (related to Orleans). I haven't upgraded the Orleans libraries in a while, something may have changed. Do you experience the same issue in the test project?

From my side I will upgrade my project libraries to see if I can recreate it.

[2017-06-23 14:15] laredoza commented on #12
![image](https://user-images.githubusercontent.com/5489412/27485963-388ecc6a-582f-11e7-9be0-a5176057d1bf.png)

[2017-06-23 15:56] laredoza commented on #12
This seems to be an issue introduced in v1.5. I have asked for help on the main project.

https://github.com/dotnet/orleans/issues/3162

[2017-06-23 19:25] laredoza commented on #8
Hi @AwsomeCode, sorry that I only got to this now.

It's a configuration error. Just add

<Statistics ProviderType="MongoStatisticsPublisher" WriteLogStatisticsToTable="false" />

to the ClientConfiguration.xml file

[2017-06-26 10:15] fschuh commented on #7
@laredoza Thanks for quickly submitting a fix.
I was able to test it, and I can confirm it works for serialization, but it will fail deserialization.

The fix is quite simple though, I'll just post it here. In the class BaseJSONStorageProvider:

[code]

You just need to add the serializerSettings as a parameter to the PopulateObject() call. Due to the dependency on serializerSettings I made it an

[2017-06-26 10:58] laredoza commented on #7
Thanks @fschuh, I'll implement this tonight. I wonder if I can make you the person in charge of testing the storage provider as I'm not using it at the moment :) It would be apreciated.

[2017-06-26 19:25] laredoza commented on #7
I've implemented your change @fschuh. The key field is indexed when a storage collection is created.
I've also updated the nuget package

[2017-06-26 19:36] laredoza commented on #11
The key field is indexed now when a storage collection is created.

[2017-06-29 17:13] confluencedevelopment opened #13 "Possibility to customize collection name instead of grain name"
I am thinking if instead of going by the default of grainName.split('.').Last(), we could provide a resolver function for MongoDBStorage Provider? I am not entirely clear on how to go about it though.
The motivation for this came up when using this on a test project that I have and I realized that I would have liked the state of one of my grains to be a in a collection based on a readonly property

[2017-06-30 06:51] fschuh commented on #7
Thanks @laredoza.
I was going to mention the lack of index in the key field, glad you've added it!

We're a heavy MongoDB user here where I'm working and we'll be going to do a lot of MongoDB testing with Orleans, so I'd be happy to test this storage provider. Depending on how it goes maybe even contribute as well.

Ideally I think we should do direct to/from BSON serialization (we do that in Java

[2017-06-30 07:29] laredoza commented on #7
Thanks @fschuh any help would be appreciated.

I agree that there are a lot of performance enhancements that still need to be done. Once everything has stabalized I'll run it through a profiler and start that process. At the moment I'm quite happy with things working. It's a good first step.

Do you think we're at a point where we can close this issue? I think we can create seperate issues for any

[2017-06-30 08:05] laredoza commented on #13
Hi @confluencedevelopment  I'll have a look at it this weekend. Can't think of a quick solution at the moment.

[2017-06-30 10:08] fschuh commented on #7
Ah yes, we can definitely close this issue :)
It's been working well so far. I'll open a new one if needed.

[2017-06-30 12:23] AwsomeCode commented on #8
@laredoza Thanks.

[2017-06-30 12:23] #8 closed

[2017-07-01 10:36] #11 closed

[2017-07-01 11:31] laredoza commented on #7
Please create a new issue if any bugs are found. Thanks for all the help

[2017-07-01 11:31] #7 closed

[2017-07-01 14:34] laredoza commented on #13
@confluencedevelopment, I suspect when https://github.com/dotnet/orleans/issues/2626 is implemented we would be able to customise the collection names. We could pass a custom GrainStateMongoDataManager provider. Maybe add two virtual methods which are called in the read and write methods to change names. We could just inherit this class and overwrite these methods.

They don't specifically mention

[2017-07-02 13:41] sujesharukil commented on #13
Just read through that. Looks like they are talking in general about providers and configurations. Might help at that time. They are talking about 2.0 though. Isn't that a long time away?

[2017-07-03 17:03] laredoza commented on #13
Ah, sorry about that, thought it applied to 1.5 as well. Back to square one I guess. Let me investigate further.

[2017-07-03 20:00] laredoza commented on #13
Hi @confluencedevelopment  & @sujesharukil  please check the commit. I've basically added a virtual procedure:

`
public virtual IJSONStateDataManager ReturnDataManager(string database, string connectionString)
{
        return new GrainStateMongoDataManager(database, connectionString);
}
`

This can be overwritten:

`
public override string ReturnGrainName(string grainType)
{
      return string.

[2017-07-09 14:56] pkese opened #14 "Method not found: GetDefaultSerializerSettings()"
I've been trying to use MongoDB provider, but I'm getting the following exception at initialization...

[code]

I'm using the default `Orleans.Providers.MongoDB` version (0.0.9) from NuGet, and Orleans 1.5.0.

I can not explain the error. The method should be there (it is clearly defined in Orleans 1.5's `OrleansJsonSerializer`)

Has anyone ever experienced a similar error?

Any ideas?

[2017-07-09 15:31] pkese commented on #14
Each time, after installing Orleans.Providers.MongoDB 0.0.9 from nuget,
the version of the .dll on (in file properties) says it is 0.0.0.8.

I've tried to delete nuget caches, etc. but each time the .dll file is 0.0.0.8 from June 26th.

[2017-07-09 15:37] pkese commented on #14
Ah... `Properties/AssemblyInfo.cs` hasn't been updated.

So I'm having the latest .dll but the initial problem still persists.

[2017-07-09 18:33] laredoza commented on #14
Hi, my apologies I didn't up the dll number. Will fix that. There seems to be a lot of breaking changed in orleans 1.5. I thought I had some time to fix it but I see it was released on the 6th. Let me have a quick look.

Will get back to you.

[2017-07-09 19:38] laredoza commented on #14
I've started updating the project to Orleans 1.5. I've also updated the projects to 4.6.1.

I can confirm that there are several issues.:

StorageProvider uses GetDefaultSerializerSettings which now requires several parameters instead of none.

Reminder service uses GrainReference.FromKeyString which is now internal. There is an issue for this one.

[2017-07-09 21:35] laredoza commented on #12
@asifshiraz, There is a new package which fixes this issue. Let me know if you have any other issues.

[2017-07-09 21:36] laredoza commented on #14
@pkese, There is a new package which fixes this issue. Let me know if you have any other issues. This was done in a bit of a hurry.

[2017-07-09 21:41] ReubenBond commented on #14
@laredoza I'll take a look at that FromKeyString issue today and come up with an alternative

[2017-07-10 06:29] laredoza commented on #13
Due to fixing compatibility issues with Orleans 1.5 this has been released.

[2017-07-11 01:59] confluencedevelopment commented on #13
This will work, but can the method actually pass in the "grainReference" too and not just the grainType?

[2017-07-11 03:31] laredoza commented on #13
That should be possible, I'll implement this weekend.

[2017-07-13 12:08] sujesharukil commented on #13
Thanks.

[2017-07-16 16:24] laredoza commented on #12
I'm going to close this issue now. If there are any other issues please let me know.

[2017-07-16 16:24] #12 closed

[2017-07-16 16:26] laredoza commented on #14
I'm going to close this issue now. If there are any other issues please let me know.

[2017-07-17 12:02] sujesharukil commented on #13
Just looked at the commit. I was hoping you pass the grain reference instead of the grain state into resolving the collection name. Reason being that the first time a grain is activated the grain state is going to be default and nothing can be used from it to determine the name of the collection.

[2017-07-19 11:11] laredoza commented on #13
I suspect it should be possible. I'll have a look

[2017-07-21 11:39] fschuh commented on #6
I have tested this on Orleans 2.0 preview and .Net Core and can confirm it works with no modifications to the code.
I just recreated the project from scratch (new csproj format), pointed to the orleans 2.0 preview dependencies on MyGet and it just worked.
I haven't tried any Unit Tests, just the main DLL.

Good news when the time comes to update this package :)

[2017-07-21 12:44] laredoza commented on #6
@fschuh that's great news. I should be able to start working on this pretty soon.

[2017-07-21 13:51] laredoza commented on #13
@sujesharukil, I'm passing the grain reference now. Please have a look and let me know if you need anymore changes.

[2017-07-21 16:21] laredoza opened #15 "General Refactor & Unit Tests"
- There are quite a few things that need to be refactored. Some of the repositories contain logic which shouldn't be there.

- Make sure that tests are working after recent changes.

- Add unit tests for Storage Provider

- Add logging to Storage Provider

- Replace AsQuery with findAsync

[2017-07-21 17:30] laredoza commented on #10
It's seems that only MongoStatisticsPublisher checks for database as well. I've implemented the Database check there.

[2017-07-21 17:33] #10 closed

[2017-07-21 19:17] laredoza commented on #15
Reminder tests are failing. Must investigate.

[2017-07-22 15:31] sujesharukil commented on #13
This looks good. Don't think grain state will buy you anything

[2017-07-24 07:10] laredoza commented on #13
@sujesharukil, I'm probably going to only release a new nuget package end of the week / next week as I'm busy refactoring a lot of the queries. I used AsQuery calls instead of the findAsync method in my queries which will cause blocking. This is going to require a bit of testing but should get us closer to production ready. I've completed the membership & reminders providers. I still have to finis

[2017-07-27 17:06] sujesharukil commented on #13
sounds good @laredoza .. I am waiting for a release.

[2017-07-29 11:05] jamescarter-le commented on #14
Thanks for fixing this issue - are you able to publish a new NuGet package with these changes?

Version 0.1.0 on Nuget has the old code, and the assembly is marked as 0.0.0.8:

[code]

[2017-07-29 11:52] laredoza commented on #14
As far as I know this issue is fixed by 0.1.0. I will have a quick look and get back to you.

[2017-07-29 12:26] laredoza commented on #14
My apologies, I'll have to improve my package generation script. I've uploaded a new package version. https://www.nuget.org/packages/Orleans.Providers.MongoDB/0.1.1

[2017-07-29 12:30] laredoza opened #16 "Improve package generation"
Before packages are generated the Orlean.Providers.MongoDb should be compiled (release)

[2017-07-29 12:34] jamescarter-le commented on #14
@laredoza Thank you very much for pushing an updated version - grateful for this package and your work on it 👍

[2017-07-29 12:47] laredoza commented on #14
Thanks @jamescarter-le. Please let me know if you find any more issues.

[2017-07-29 12:47] #14 closed

[2017-07-29 13:06] #16 closed

[2017-07-29 13:09] laredoza commented on #13
@sujesharukil and @confluencedevelopment  Package Orleans.Providers.MongoDB 0.1.1 has been released with these changes.

[2017-07-31 01:48] sujesharukil commented on #13
Great! I will take a look. Thanks.

[2017-08-03 22:08] sujesharukil commented on #13
This is verified and works as expected. Thanks

[2017-08-03 23:10] sujesharukil commented on #15
May be this is a refactor or may it isn't... Noticed that in the Read of GrainStateMongoDataManager you have `existing.Remove("_id");` and in the write you are doing `doc["_id"] = existing["_id"];`. Is this required? I have Id fields in my grain state and I was using a BsonClassMap to map my class objects. This will have issues...
So trying to understand the reason for this?

[2017-08-04 03:11] laredoza commented on #13
Thanks @sujesharukil

[2017-08-04 03:11] #13 closed

[2017-08-04 03:21] laredoza commented on #15
@sujesharukil My Initial thought is that it's not required. I think it was in the original code this class is based off. I'll have a look this weekend.

[2017-08-08 23:51] sujesharukil commented on #15
@laredoza did you get a chance to look at this?

[2017-08-09 17:11] laredoza commented on #15
@sujesharukil, sorry only had a chance to look at it now. Doesn't seem as straight forward as I thought it would be:

My example object is saved as follows :
![image](https://user-images.githubusercontent.com/5489412/29134224-4df533f6-7d36-11e7-96d2-c2f8760a3483.png)

[2017-08-10 12:25] sujesharukil commented on #15
Not sure I understand. The data you are storing is the State object and not the grain itself. The state object has an Id field and it is marked as BsonId. I think it should be more in the line that if the state object that is being saved has an "Id" attribute, then use it else let mongo create one. It can get tricky when reading whether to keep it or not.
One option would be to enforce having an I

[2017-08-11 12:30] laredoza commented on #15
@sujesharukil, Those sound like valid options, I"m just worried that the grain id needs to be passed back.

Would it be possible for you to run your application using the the standard sql  providers? I'm rather interested to compare how that is saved compared to the Mongo version (specificllly the id). I just need to establish the default behaviour before we start implementing any of these solutio

[2017-08-23 22:54] sujesharukil commented on #15
We wrote our own Mongo provider and does a decent job of it. If you want to get on a call I can show what we are doing.

[2017-08-24 04:07] laredoza commented on #15
Glad to hear that you came right @sujesharukil. I'll get hold of you on Gitter once I get a bit more time.

[2017-08-31 21:26] laredoza commented on #6
I've merged @leisurelyclouds pr and the test application is working. Which is good news.

There are two minor issues at the moment.

- The Build.bat file isn't working properly.
- The UnitTest project isn't running at the moment (I'm disabling the project at the moment).

I'll look at these this weekend.

Thanks again @leisurelyclouds

[2017-09-01 15:50] Xanatus opened #18 "databaseName is null exception on silo start."
I'm trying to get this package to work for MongoDB based Membership Tables in Orleans.

For my current setup, i would prefer not using Orleans config file, so I try to setup it with code like so:

[code]

On silo startup, I'm getting this exception:

I'm using Orleans 1.5.1 and Orleans.Providers.MongoDB 0.1.1 (latest from Nuget).

[2017-09-01 16:35] Xanatus commented on #18
Alright, I figured it out.
I had to provide the databaseName with the conntection string.
`config.Globals.DataConnectionString = "mongodb://localhost:27017/MembershipTable";`

Additionaly to this, setting the DeploymentID manually is also required, otherwise it will throw a "Key may not be empty." exception.

[2017-09-01 16:40] laredoza commented on #18
Sorry, don't have access to a pc at the moment, but my connectionstrings look as follows:

mongodb://admin:pass123@localhost:27017/Orleans?authSource=admin

Have You tried to add Orleans to your connection string?

I'll have a look tomorrow at any rate. I'd like to add this to the documentation  in any case either way

[2017-09-01 16:56] laredoza commented on #18
Okay, see my post was a bit late and don't seem to be able to edit the previous post on mobile.

I'd suggest using Orleans as the database name to keep it consistent. The membership collection should then be created in the Orleans database.

If you then use the same connectionstring with the other providers the collections will all be in the same database as well.

[2017-09-01 17:08] #18 closed

[2017-09-02 10:06] laredoza commented on #6
After installing dotnet core sdk 2.0 the UnitTest project is running.

[2017-09-02 11:35] laredoza commented on #6
Uploaded a preview package:

https://www.nuget.org/packages/Orleans.Providers.MongoDB/0.1.2-preview

[2017-09-14 04:55] snarlynarwhal opened #20 "Question: Does this provider automatically handle storing grain references?"
Does this storage provider automatically handle storing grain references? Say I had a tree data structure in which grains could have a parent and children. Does this provider detect when a property is a grain reference and handle it accordingly, or do I manually need to handle that on Read/Write? I'm new to Orleans.NET so any help understanding this would be much appreciated!

**EDIT:**
To clarify

[2017-09-15 07:17] laredoza commented on #20
To be honest, I'm not 100% sure what the behaviour will be. I'll have a look at it this weekend and get back to you.

[2017-09-18 02:23] snarlynarwhal commented on #20
So not sure if its not supported or if I am doing it wrong, but I attempted to write/read a grain reference and it appeared to write without throwing any errors:

![capture](https://user-images.githubusercontent.com/3300071/30527116-fcd70978-9bf2-11e7-86d0-1f0a4a0a03f9.PNG)

**NOTE:** _The property GrainMap is a dictionary with guid key and grain reference value._

However, upon reading I got this

[2017-09-20 03:56] laredoza commented on #20
I suspect that this shouldn't actually be done as you never instantiate / activate a grain directly from a class.

i.e) var employee = new EmployeeGrain();

instead you would get a grain as follows:

var employee = GrainClient.GrainFactory.GetGrain<IEmployeeGrain>(1);

This does a whole bunch of Orleans magic like creating the grain on the correct server / thread, load state, etc

By de-serializin

[2017-09-20 18:18] snarlynarwhal commented on #20
Yeah I imagined doing this too:

Didn't consider that last part though. I'll just keep doing this for now, but at least wanted to explore other options.

[2017-09-22 13:01] Xanatus opened #21 "Orleans 1.5, Streams and Rebinding Grain Reference"
I'm trying to get Orleans Streams to work with MongoDB.

Orleans 1.5+ requires rebinding of deserialized grain references via IGrainFactory.BindGrainReference().

Because of this, I get following exception on stream.OnNextAsync():

Is there any way that Orleans.Providers.MongoDB could rebind references itself?
If not, do you have any suggestions on how I can rebind references and get streams with

[2017-09-22 14:17] laredoza commented on #21
Hi,

This is the first time that I've heard about Orleans streams but it seems interesting. Can I ask that you fork the main project and add a few classes so that we can recreate this issue?

Memo to self:

Documentation:
https://dotnet.github.io/orleans/Documentation/Orleans-Streams/Streams-Extensibility.html

Azure Example:
https://github.com/dotnet/orleans/blob/master/src/OrleansAzureUtils/Prov

[2017-09-22 14:44] Xanatus commented on #21
I was able to fix my issue.

I fixed the issue by implementing the GrainReferenceConverter from the orleans json serializer: https://github.com/dotnet/orleans/blob/master/src/Orleans/Serialization/OrleansJsonSerializer.cs

This is only needed for orleans 1.5+. On older orleans rebinding wasn't necessary.

[2017-09-22 14:51] laredoza commented on #21
Great to hear. Are you busy writing your own Provider? If so, would you consider creating a pull request? It would be nice to add the functionality.

[2017-09-22 15:09] Xanatus commented on #21
I don't really use github so I have no idea about pull requests etc.

But I can explain exactly how to fix your code for 1.5:

All you need to do is copy past the GrainReferenceConverter class from offical orleans serializer.
https://github.com/dotnet/orleans/blob/master/src/Orleans/Serialization/OrleansJsonSerializer.cs

I don't think you need the other converters, so you can remove them from the

[2017-09-22 16:13] laredoza commented on #6
Published a new package:
https://www.nuget.org/packages/Orleans.Providers.MongoDB/0.1.2

[2017-09-22 16:13] #6 closed

[2017-09-22 16:17] #20 closed

[2017-09-22 16:35] laredoza commented on #21
I've uploaded a preview version package:

https://www.nuget.org/packages/Orleans.Providers.MongoDB/0.1.3-preview

I'd appreciate it if you can test it. Thanks

[2017-09-22 17:03] Xanatus commented on #21
What .Net framework version do I need for your preview? I'm gettin this error:

[2017-09-22 17:27] laredoza commented on #21
Dotnet 4.6.1 hould be okay. As far as I know this could be due to the fact that the library has been upgraded to DotnetStandard 1.6 to enable dotnet core support.

I found the following: https://github.com/dotnet/standard/issues/410:

For anyone that might still be hitting this you can workaround it by explicitly making the .NET Framework project a ProjectReference based project by setting the fol

[2017-09-22 18:48] laredoza commented on #21
Okay my apologies, I thought I understood how dotnetstandard works, but clearly not. I've added a new target for 4.6.1. It should work now:

https://www.nuget.org/packages/Orleans.Providers.MongoDB/0.1.5-preview

[2017-09-22 19:18] Xanatus commented on #21
Seems to work fine. Both instal and streams working :+1:

[2017-09-22 19:27] laredoza commented on #21
Okay great. I'm going to close this issue then. If you hit any other issues let me know.

I've published a new version on Nuget:
https://www.nuget.org/packages/Orleans.Providers.MongoDB/0.1.5

[2017-09-22 19:27] #21 closed

[2017-10-09 23:29] ReubenBond opened #22 "Support for Strong Consistency?"
Hi, I'm curious how the storage provider here supports strong consistency for grain state.

It seems that the updates here should include a query condition, something along the lines of "version == expected version", similar to how the Azure storage providers use an ETag.

https://github.com/OrleansContrib/Orleans.Providers.MongoDB/blob/3e4d3518015ce886ca046ba3f56905b218a14a47/Orleans.Providers.Mo

[2017-10-10 02:50] laredoza commented on #22
Hi @ReubenBond, I'll have a look at the Azure implementation and get back to you on this. Probably this weekend.

[2017-10-13 18:38] laredoza commented on #22
@ReubenBond  on an unrelated note, who can I add as an Owner for the the nuget library (https://www.nuget.org/packages/Orleans.Providers.MongoDB)? You never know when a bus decides to drive over me or something.

[2017-11-07 00:25] SebastianStehle commented on #22
The fast approach would be to replace it with an Upsert:

    collection.ReplaceOnAsync(x => x.Id == key && x.Etag == etag, doc, new Options { Upsert = true });

There are several cases:

1. No document exits => Makes insert and adds etag
2. Document exists and has correct etag => Makes update
3. Document exists and has incorrect etag => Tries to make insert, fails with DuplicateKeyException, whic

[2017-11-08 12:03] SebastianStehle opened #26 "vNext / 1.0"
## Storage Provider

- [x] Improve the performance of the StorageProvider by preventing a serialization step
- [x] Improve the performance of the StorageProvider by ensuring that we make only one call to MongoDB per operation.
- [x] Implement optimistic concurrency with backwards compatibility.
- [x] Write tests for StorageProvider (partially done)
- [x] Fix a bug with wrong naming of collections

[2017-11-08 12:51] laredoza commented on #26
**Question 1**: I'd prefer to not break backwards compatibility. Without knowing the new structure, maybe on loading / deserialization, if there is an error we load it like we did previously, and then save the item in the new format again. Would that be possible? The other option is to add a version field to the document ( Our new documents could be version 2) and handle loading data appropriately

[2017-11-08 12:54] SebastianStehle commented on #26
The problem is that you loose the information which version your document has. Which basically means that you have to query the document before updating, which will hurt performance. Not sure how to do it with compatibility.

[2017-11-08 12:59] laredoza commented on #26
How will the new document look?

As an example the test application saves the EmployeeGrain as follows. How will it look now?

![image](https://user-images.githubusercontent.com/5489412/32550331-55de38dc-c495-11e7-86d6-5c0f1f177e05.png)

[2017-11-08 13:02] SebastianStehle commented on #26
e.g. like that:

    {
       _id: "GrainReference=4edc4ec3a3f9faa17067449405e7e79f03ffffff95764fba"
       _etag: "ETAG",
       _doc: <SERIALIZED_JSON_DOC>
    }

[2017-11-08 13:09] laredoza commented on #26
Okay, maybe the first idea would be the best way to go then. Load it expecting the new format. If we get an exception try and load it the previous method and update it. The next time it gets loaded it would work and we would have minimum performance impact. Is that feasible?

[2017-11-08 13:11] SebastianStehle commented on #26
that should work, will add a test for it

[2017-11-08 13:57] laredoza commented on #26
Should I look at upgrading to v2?

[2017-11-08 14:36] SebastianStehle commented on #26
Do you want to keep the compatibility to 1.X? I think we can just make a v2 project in the same folder. Afaik the interfaces have no changed.

[2017-11-08 15:04] laredoza commented on #26
I think we should just upgrade to TechPreview3(.Net.Core 2.0.)  TechPreview2 isn't production ready in any case. If someone is continuing with that version the nuget package 0.1.6 will be installed.

[2017-11-08 15:08] SebastianStehle commented on #26
What is with Beta1?

[2017-11-08 15:09] SebastianStehle commented on #26
I am not sure if they have already migrated TestSilo. My last info is that there was an issue because of appdomains

[2017-11-08 15:16] laredoza commented on #26
My suspicion is that the nuget packages are behind. The project is referencing myget at the moment.

I think this is the latest version:

https://blogs.msdn.microsoft.com/orleans/2017/09/13/announcing-orleans-2-0-tech-preview-3/

[2017-11-08 15:21] laredoza commented on #26
Well, I'm confused. I always thought previews came after the beta

[2017-11-08 15:36] SebastianStehle commented on #26
Just confirmed it in the gitter channel ;)

[2017-11-08 15:37] laredoza commented on #26
According to : https://github.com/dotnet/orleans/issues/3629 the plan is to release v2 four weeks after the beta release. That gives us two weeks and a bit.

My suggestion is to get your changes out as 0.1.7-preview. Get some testing done. That way we don't need to worry about v2 breaking anything else. We can then create a new vnext branch using v2, which can then become 0.1.8-preview. What do yo

[2017-11-08 16:03] SebastianStehle commented on #26
Which changes are you talking about? The vnext branch is a little bit of chaos and solves too many problems right now.

[2017-11-08 16:07] laredoza commented on #26
The changes on vnext after everything has stabilized.

[2017-11-08 16:17] SebastianStehle commented on #26
In general my goal is to have a v1.0 for Orleans 2.0 because I need it for a project.

I see the following tasks:

## Storage Provider

- [x] Improve the performance of the StorageProvider by preventing a serialization step
- [ ] Improve the performance of the StorageProvider by ensuring that we make only one call to MongoDB per operation.
- [ ] Implement optimistic concurrency with backwards comp

[2017-11-08 16:31] laredoza commented on #26
OK great, let me know if I can help. My time is unfortunately very limited for the next week or two. I suspect you might be done by then :) Thanks for all the work

[2017-11-08 16:34] AwsomeCode commented on #26
Isn't that our version number should match with Orleans Version?
As if any new storage feature in Orleans is supported Orleans.Providers.MongoDB.
Because Orleans other package follow this pattern.
For eg.
https://www.nuget.org/packages/Orleans.StorageProvider.Arango/
https://www.nuget.org/packages/Microsoft.Orleans.OrleansAzureUtils/1.5.2

[2017-11-08 16:43] SebastianStehle opened #27 "vNext Todos"
In general my goal is to have a v1.0 for Orleans 2.0 because I need it for a project.

I see the following tasks:

## Storage Provider

- [x] Improve the performance of the StorageProvider by preventing a serialization step
- [ ] Improve the performance of the StorageProvider by ensuring that we make only one call to MongoDB per operation.
- [ ] Implement optimistic concurrency with backwards comp

[2017-11-08 16:43] #27 closed

[2017-11-08 16:44] SebastianStehle commented on #26
Of course, because they maintain it together

[2017-11-08 16:54] laredoza commented on #26
I think v1 is fine for now. We can then create an issue on the main project for a code review.if they like it, it can then be put in the main project.

I think with the release of Orleans v2,  Mongo will become a larger part of the market as Linux adoption increases.

[2017-11-08 17:08] AwsomeCode commented on #26
As we already support Membership, Storage, Reminders, and etc. we should push to same version 1.5.2.

[2017-11-08 17:13] SebastianStehle commented on #26
The version should not indicate compatibility to orleans, but has an internal meaning. E.g. with Semantic Version the data format could change between v1 and v2.

[2017-11-08 18:40] SebastianStehle commented on #26
@laredoza Can you review the storage provider?

[2017-11-08 22:03] SebastianStehle commented on #26
@laredoza I  updated the membership provider. I think there is no way to implement the extended protocol in a reliable way, because it requires multi-document transactions. Therefore I have removed the code for the table version and only implemented etag support. It is described here and implemented for DynamoDb in the same way: https://dotnet.github.io/orleans/Documentation/Runtime-Implementation

[2017-11-09 21:35] SebastianStehle commented on #26
@laredoza I am (almost) done. What is pending is to update the Test Application. I have imported the TesterInternals assembly from Orleans to run their tests and found some bug (in my version).

[2017-11-09 22:54] SebastianStehle commented on #26
Test App Migrated

[2017-11-10 09:06] laredoza commented on #26
Thanks, sorry I've got a tight deadline for today. Will have a look at the changes tomorrow.

[2017-11-10 12:58] SebastianStehle commented on #26
Nice, would be nice to get a beta out to nuget tomorrow.

[2017-11-10 19:37] SebastianStehle commented on #26
I Simplified the options and configuration extensions.

[2017-11-11 08:29] laredoza commented on #26
It looks great. I'll continue going through it this weekend but I've posted a new preview package in the meantime:  https://www.nuget.org/packages/Orleans.Providers.MongoDB/2.0.0-preview1

[2017-11-11 10:18] SebastianStehle commented on #26
Thank you: I also asked if we can use the icon: https://github.com/dotnet/orleans/issues/3660 ... minor thing, but would give the package an official touch :D

[2017-11-11 10:27] laredoza commented on #22
Issue #26 implements this

[2017-11-11 10:27] #22 closed

[2017-11-11 10:28] laredoza commented on #15
Issue #26 completes this.

[2017-11-11 10:28] #15 closed

[2017-11-11 10:32] laredoza commented on #26
yeah, that would be great. If you've got a nuget account please send it to me on gitter so that I can give you admin rights as well.

[2017-11-15 10:12] SebastianStehle commented on #26
Orleans Team is fine when we use their icon. Can we finalize it? We should also make PR for the Orleans docs to add our link to the documentation.

[2017-11-17 11:20] SebastianStehle commented on #26
I published a preview2

[2017-12-05 13:16] grandchamp opened #29 "Orleans.Runtime.MembershipService.ILegacyMembershipConfigurator was not found in assembly Orleans.Providers.MongoDB"
Hi.
I'm trying to use this provider, but i'm receiving this error:

[code]

My code is:

[code]

[2017-12-05 19:00] laredoza commented on #29
Hi,

What is the Orleans version that you're using? If you copy the above config into the demo application, do you experience the same issue?

[2017-12-07 13:51] grandchamp commented on #29
Checking out vNext worked.
Thanks.

[2017-12-09 15:58] #29 closed

[2017-12-22 15:58] bluexo opened #30 "Cannot store integer default value (zero)"
[code]

[2017-12-23 08:59] laredoza commented on #30
Hi,

With which version of the library are you experiencing this?

[2017-12-23 09:08] bluexo commented on #30
@laredoza  vNext

[2017-12-23 09:18] SebastianStehle commented on #30
I guess the problem are the json serializer settings. There is a setting to ignore default values. You can override this method and use your serializer settings:

https://github.com/OrleansContrib/Orleans.Providers.MongoDB/blob/vNext/Orleans.Providers.MongoDB/StorageProviders/BaseJSONStorageProvider.cs#L157

[2018-01-07 01:46] astaror opened #31 "Issue with using with Docker"
Using MongoDB provider with MongoDB deployed in docker container.
I can connect to MongoDB using MongoClient, but can't use MongoDB provider. In logs i see bunch of errors:
Exception thrown: 'System.Net.Internals.SocketExceptionFactory.ExtendedSocketException' in System.Net.Sockets.dll
Exception thrown: 'System.Net.Internals.SocketExceptionFactory.ExtendedSocketException' in System.Private.CoreLib

[2018-01-07 14:44] laredoza commented on #31
Hi,

I haven't connected to docker container before with this provider, but I wouldn't think there would be a problem. I see you are using two different mongo ports, 27017 & 27018. Could this be the problem?

If not, could you please try and connect via a custom application using the same MongoDrivers. If that works please try isolating the different components, i.e) Switch off the membership prov

[2018-01-07 22:46] astaror commented on #31
I don't think ports could be problem because i'm able to connect to both of those servers using MongoDriver from same application.
I'll try to figure out component causing this issue...

[2018-01-08 09:59] SebastianStehle commented on #31
Why are you not using the host name instead?

[2018-01-09 20:52] astaror commented on #31
It behaves in the same way when using host name and ip

[2018-01-10 09:13] SebastianStehle commented on #30
It seems that the issue has been solved. Feel free to open it.

[2018-01-10 09:13] #30 closed

[2018-01-10 09:14] SebastianStehle commented on #31
I have used the provider with Kubernetes. Would be nice, if you help us to investigate this problem.

[2018-03-12 11:28] bboyle1234 opened #34 "ISiloHostBuilder extension methods are present in MongoDBClientExtensions.cs"
It seems extension methods intended for ISiloHostBuilder might have been accidentally copied into the file containing extension methods for IClientBuilder

![image](https://user-images.githubusercontent.com/1445862/37281158-7a863bfc-25c6-11e8-99d6-45969d838fc8.png)

![image](https://user-images.githubusercontent.com/1445862/37281195-927ae03c-25c6-11e8-8d54-f71c2f0fe4e3.png)

![image](https://user-

[2018-03-12 11:55] SebastianStehle commented on #34
True, can you create a PR?

[2018-03-12 12:27] bboyle1234 commented on #34
Done :) All I did was delete the methods that looked like they didn't belong on the IClientBuilder.

[2018-03-12 12:36] bboyle1234 commented on #31
Hi @astaror, this works for me:
https://gist.github.com/bboyle1234/4ed79eae38b82b8519958cf26fc87f5f

It's using the latest 2.0.0-rc3 release, which came out since your post.

[2018-03-13 04:53] bboyle1234 opened #36 "Compatibility with Orleans 2.0.0-rc2"
![image](https://user-images.githubusercontent.com/1445862/37323252-ec0151e4-2658-11e8-8246-4d3ea5187700.png)

[2018-03-13 05:24] bboyle1234 commented on #36
https://github.com/OrleansContrib/Orleans.Providers.MongoDB/pull/38

[2018-03-13 11:45] #34 closed

[2018-03-13 11:46] SebastianStehle commented on #36
Thanks

[2018-03-13 11:46] #36 closed

[2018-03-13 21:53] ReubenBond opened #39 "RC2 Code Review"
* [ ] Options should be injected as `IOptions<TOptions>` rather than `TOptions`
https://github.com/OrleansContrib/Orleans.Providers.MongoDB/blob/ba696c70d889b145b1a2558ce3704550f65e18a4/Orleans.Providers.MongoDB/Configuration/MongoDBGrainStorageOptionsValidator.cs#L10

* [ ] Since MongoDB now supports multi-document transactions, I recommend implementing the extended membership protocol. Total ord

[2018-03-13 22:07] ReubenBond commented on #39
Do you mean that the MongoDB provider is already checking the ETag in the reminder update? I couldn't spot it.

[2018-03-13 22:11] galvesribeiro commented on #39
Not Mongo, the CosmosDB provider I created on Orleans contrib.

Check this: https://github.com/OrleansContrib/Orleans.CosmosDB/blob/master/src/Orleans.Persistence.CosmosDB/Sprocs/WriteState.js#L24

[2018-03-13 22:13] galvesribeiro commented on #39
Reminders follow the same pattern: https://github.com/OrleansContrib/Orleans.CosmosDB/blob/master/src/Orleans.Reminders.CosmosDB/Sprocs/UpsertRow.js#L10

[2018-03-14 12:00] SebastianStehle commented on #39
MongodB 4.0 is not even released yet and it will take some time for everybody to upgrade it.

[2018-03-17 09:25] laredoza commented on #39
2. I have a few concerns with regards to implementing transactions at this stage. Mainly due to not having worked with it at all.

- If we use transactions what will happen if transactions are turned off on the MongoDb 4 database?What happens when we use a pre v4 database. Does the driver handle this?
- What is the performance hit one will takes by enabling transactions? I think most applications

[2018-03-17 10:54] ReubenBond commented on #39
@laredoza transactions ought to be fairly cheap and this particular collection we're talking about (cluster membership) is updated relatively infrequently. As for the other points, I can't speak to them since I haven't touched MongoDB since 2.0 days

[2018-03-17 17:55] SebastianStehle commented on #39
I totally agree with @laredoza

[2018-03-17 22:00] ReubenBond commented on #39
The enhanced membership protocol could also be implemented without multi-doc transactions if all operations were performed on a single doc. That might limit the size of the table, but the limit shouldn't be too restrictive (at least 16MB) as long as long-dead silos are eventually removed

[2018-03-18 09:11] SebastianStehle commented on #39
I would prefer this. 16 MB should be big enough for even clusters of thousands of machines.

[2018-03-24 05:07] bboyle1234 opened #40 "Ooops - copy paste error"
![image](https://user-images.githubusercontent.com/1445862/37860631-c2d948f8-2eff-11e8-8b15-df144a031605.png)

[2018-03-24 08:43] #40 closed

[2018-03-24 08:43] #31 closed

[2018-04-03 03:03] bboyle1234 opened #43 "2.0.0 compatibility"
The following error message was observed in a project that referenced the following packages:
Microsoft.Orleans, 2.0.0
Orleans.Providers.MongoDB, 2.0.0-rc6

Do we need to release a new version that is compatible with Orleans 2.0.0?

[code]

[2018-04-03 03:10] bboyle1234 commented on #43
Hmm, looks like this has already been done in code ... are we waiting on a release to nuget?

![image](https://user-images.githubusercontent.com/1445862/38227192-15ee975a-36cb-11e8-863c-6a5cf302bec7.png)

[2018-04-03 06:45] SebastianStehle commented on #43
I can make the release this afternoon. Its 9 am here. I was short in time due public holiday.

[2018-04-03 06:59] bboyle1234 commented on #43
@SebastianStehle  Fantastic, thank you.

[2018-04-05 13:25] #43 closed

[2018-06-11 04:37] bboyle1234 opened #44 "About default values"
A grain has its state object defined as shown below. `EventNumber` is a long.

![image](https://user-images.githubusercontent.com/1445862/41212822-3855e538-6d84-11e8-9100-a45d285d03b3.png)

The first time the grain is run, the field `DiscoveredPosition.EventNumber` is incremented to zero and the state is saved to mongodb.

This image, with an arrow pointer, shows that the data serialization has no

[2018-06-11 07:07] SebastianStehle commented on #44
I don't get it. The value after deserialization will be also `0`, so where is the problem?

[2018-06-11 07:51] bboyle1234 commented on #44
Because of the way I've setup the initializer at -1, and because the "0" is missing from the serialized representation, the value after deserialization is -1, NOT 0

[2018-06-11 07:52] bboyle1234 commented on #44
The deserializer is leaving the field value untouched intead of adjusting it to 0

[2018-06-11 08:44] bluexo commented on #44
@bboyle1234  #30

[2018-06-11 13:49] bboyle1234 commented on #44
https://docs.google.com/document/d/131a6quFOihOQyPEcipINIzb7XOVNTVALnGtScMneL9A/edit#

[2018-06-11 14:00] SebastianStehle commented on #44
Just make a pull request for the current implementation ;)

[2018-06-16 20:56] Xanatus opened #46 "Not thread/interleave save?"
It seems when 2 calls end up in WriteStateAsync() on the same grain, there is a good chance that following InconsistentStateException is thrown:

![image](https://user-images.githubusercontent.com/20849443/41502332-e7b7aa6e-71fa-11e8-8801-9f6de9a49c6a.png)

This can easily happen on interleaved grains or when using timers (as seen in above screenshot).

I didn't try, but I assume an easy way to re

[2018-06-16 22:45] SebastianStehle commented on #46
Thats by design: https://dotnet.github.io/orleans/Documentation/Core-Features/Grain-Persistence.html#storage-provider-semantics

[2018-06-16 23:01] Xanatus commented on #46
Why is this by design and why can it not be prevented?
Cueing up the queries not an option?

It used to work fine in 1.5.
If stateful grains can no longer use interleave semantics, this should be documented better. I can also see performance drops in my application due to this.

[2018-06-17 07:06] SebastianStehle commented on #46
You already have an option for queuing: Do not use interleaving ;)

There might be a bug in the implementation, but  it is important to follow the official semantics. If you have 2 concurrent calls making changes to a state you can have concurrency issues anyway.

[2018-06-17 07:45] Xanatus commented on #46
Interleaving is not concurrent and there can be valid reasons to do it that way.
And its sometimes just hard to work around it. Such as that orleans timers enforces it.
And sure, knowing this restriction makes it of course possible to avoid it. Unfortunately I didn't know about it before 2.0 when etags where not a thing and refactoring this is a bitch now.

But anyway, do you think the following i

[2018-06-17 07:56] SebastianStehle commented on #46
Thats true with concurrency. I just think it is the wrong place to discuss it. All orleans storage provider should follow the same semantics. If you want to avoid it you can just implement your own storage mechanism. Personally I also do not use Orleans Storage because I have different requirements.

[2018-06-19 13:08] #46 closed

[2018-06-27 03:27] sdghchj opened #47 "How to customize DateTime value's storage format?"
` public class JsonGrainStateSerializer : IGrainStateSerializer
    {
        private readonly JsonSerializer serializer;

        public JsonGrainStateSerializer(ITypeResolver typeResolver, IGrainFactory grainFactory)
            : this(JsonSerializer.Create(OrleansJsonSerializer.GetDefaultSerializerSettings(typeResolver, grainFactory)))
        {
        }
        .....
}`

public class JsonSeri

[2018-06-27 07:37] SebastianStehle commented on #47
The issue is here:

https://github.com/OrleansContrib/Orleans.Providers.MongoDB/blob/master/Orleans.Providers.MongoDB/StorageProviders/JsonBsonConverter.cs#L85

[2018-06-28 10:22] sdghchj commented on #47
Thank you. I fork your project and  modifed the DateTime type's serialization. Please check the pull request.

[2018-07-10 03:51] bboyle1234 opened #51 "Deserialization smell"
At the moment I'm investigating this code and exception hit during deserialization during grain re-activation.

[code]
Mongo storage:

[code]

Exception:

[code]

[2018-07-10 04:30] bboyle1234 commented on #51
"Fixed" the issue by replacing the grain code as follows. The grain state type is now a wrapper around the original dictionary.

[code]

I'm using custom serializer that was later merged into the mongodb code base:

[code]

[2018-09-13 03:09] bboyle1234 commented on #44
Hi @SebastianStehle :) Will there be a nuget release soon? I'd love to get this into production.

[2018-09-13 09:46] SebastianStehle commented on #44
Done, should be available soon. I can also add you to the project if you want. I am not using the provider myself.

[2018-09-14 02:23] aqa510415008 opened #52 "A timeout occured after 30000ms selecting a server"
A timeout occured after 30000ms selecting a server using CompositeServerSelector{ Selectors = MongoDB.Driver.MongoClient+AreSessionsSupportedServerSelector, LatencyLimitingServerSelector{ AllowedLatencyRange = 00:00:00.0150000 } }. Client view of cluster state is { ClusterId : "1", ConnectionMode : "Automatic", Type : "Unknown", State : "Disconnected", Servers : [{ ServerId: "{ ClusterId : 1, EndP

[2018-09-14 02:37] #52 closed

[2018-09-16 23:36] bboyle1234 commented on #44
Please add me to the project :) Thank you.

[2018-09-20 12:30] #26 closed

[2018-09-20 12:30] #39 closed

[2018-10-02 03:22] bboyle1234 opened #54 "CollectionPrefix mismatch"
The following image shows the two configuration options classes that are used for Orleans membership.

On the left, `MongoDBGatewayListProviderOptions` is used by the `IClusterClientBuilder` and sets the default `CollectionPrefix` value to `Members`.

On the right, `MongoDBMembershipTableOptions` is used by the `ISiloHostBuilder` extension methods and sets the default `CollectionPrefix` value to `

[2018-10-23 21:24] IhnatKlimchuk opened #56 "Configuration from *.json"
I'm trying to setup MongoDB GrainStorage with options from appsettings.json or from environment variables in common case, but don't see an elegant way to do this. Below I will provide problem short description.

For example in `AddMongoDBGrainStorage(this ISiloHostBuilder builder, string name, Action<MongoDBGrainStorageOptions> configureOptions)`  action `configureOptions` do not have access to cu

[2018-10-25 07:48] bboyle1234 commented on #56
Yes, can you make a PR?

[2018-10-25 08:00] IhnatKlimchuk commented on #56
Hi @bboyle1234, will try to make one.

[2018-10-25 09:46] SebastianStehle commented on #56
I am not  100% sure, but I think you just have to configure the options object in the serializer after your registration

services.Configure<Options>(Config.Get("section"));

[2018-10-25 17:33] galvesribeiro commented on #56
Yes, @SebastianStehle  is correct. The provider shouldn't enforce any schema or section but, if you define a section and it has the same structure as the code-config options object and you call the GetSection() on the configure, it would work...

[2018-10-26 00:18] bboyle1234 commented on #56
Being able to configure from enironment variables is important too. (My own orleans project does that, and instantiates a static config object using environment variables before creating the silo builder). It's a bit anti-pattern and I'd like to do it better too.

@SebastianStehle, being a bit new to configuration/DI patterns, I wasn't able to understand exactly how to use the code snippet you pro

[2018-10-26 00:38] bboyle1234 commented on #56
Is this what you mean?

[code]

[2018-10-26 00:43] galvesribeiro commented on #56
Look at this: http://michaco.net/blog/EnvironmentVariablesAndConfigurationInASPNETCoreApps#environment-variables-and-configuration

[2018-10-26 01:47] bboyle1234 commented on #56
Thank you. Here's some test code I produced, based on what I've learned and it's working for me. Were you able to get what you need @IhnatKlimchuk?

[code]

[2018-10-26 01:58] bboyle1234 commented on #56
I then modified it slightly to use this:
[code]

[2018-10-26 02:05] bboyle1234 commented on #56
The disadvantage to this that I'm finding right now is that it doesn't allow custom logic to be applied to the configuration values. For example, I had to manually type "dev" into each database name environment variable instead of automagically inserting it from another environment variable. I also couldn't provide default values if the environment variable was missing.

[2018-10-26 02:12] galvesribeiro commented on #56
IMHO, the settings keys, in this case the envvars, shouldn’t contain the environment. The code is supposed to be immutable across environments and the _values_ on those variables is what should change from environment to environment.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: bboyle1234 <notifications@github.com>
Sent: Thursday, October 25, 2018 11:05:41 PM

[2018-11-16 06:02] AClumsy opened #57 "With mongodb's Reminders, silents will not be executed after Silo restarts."
With mongodb's Reminders, silents will not be executed after Silo restarts. It can still be executed after restarting Silo using Microsoft.Orleans.Reminders.AdoNet.

Orleans   : V2.1.1
Orleans.Providers.MongoDB ：V2.0.0

DEMO：
[Orleans.Reminder.zip](https://github.com/OrleansContrib/Orleans.Providers.MongoDB/files/2588124/Orleans.Reminder.zip)

[2019-02-19 10:43] JanWilczak opened #58 "2 different collections generated"
When using from both client and the silo there are 2 different collections generated:
`MembersOrleansMembershipV2` and `OrleansMembershipV2`
Temporary solution is to specify `CollectionPrefix` in `UseMongoDbClustering`.

package Orleans.Providers.MongoDB 2.0.2

[2019-03-05 14:49] matteofabbri commented on #58
yep same bug i was here to open

[2019-03-17 05:28] zh6335901 commented on #57
I also have this problem. I found if silo shutdown before a reminder's **StartAt** time, Then start after this reminder's **StartAt** time, This reminder will not be executed.

PS: I try remove this reminder document in the mongodb, then restart silo, this reminder is work again.

[2019-03-22 18:19] SebastianStehle commented on #58
Fix by PR: https://github.com/OrleansContrib/Orleans.Providers.MongoDB/pull/55

Will be released soon.

[2019-03-22 18:19] #58 closed

[2019-03-22 18:20] SebastianStehle commented on #57
Sorry for the very long delay. Do you have an idea what the problem could be?

[2019-03-22 18:21] SebastianStehle commented on #56
No idea what to use with this issue, I will just close it for now.

[2019-03-22 18:21] #56 closed

[2019-03-22 18:22] SebastianStehle commented on #54
Finally merged.

[2019-03-22 18:22] #54 closed

[2019-03-22 18:22] #44 closed

[2019-03-22 19:11] SebastianStehle commented on #57
I was able to reproduce it and have fixed it.

[2019-03-22 19:11] #57 closed

[2019-05-05 06:08] Abhith opened #60 "README : Broken link"
In the root **README.md**, there is some `rc1` branch mentioned with link which does not exist.

[2019-05-05 06:32] SebastianStehle commented on #60
Thanks the MongoDB provider is 2.0 ready since the RTM of Orleans 2.

[2019-06-03 10:56] vella-nicholas opened #61 "Number of open connections"
Am I right to understand that the number of open simultaneous connections is set only from the connection string?

If I load hundreds of grains at once, will every initialization try and open a connection per initialization unless I set up a connection limit in the connection string?

[2019-06-03 13:43] SebastianStehle commented on #61
No, there is a default value: https://docs.mongodb.com/v3.6/reference/connection-string/#connection-pool-options

[2019-06-04 12:57] vella-nicholas commented on #61
Ok thanks!

[2019-06-04 12:57] #61 closed

[2019-06-19 13:30] darthkurak opened #65 "Could not find any gateway in global::Orleans.Providers.MongoDB.Membership.MongoGatewayListProvide"
Hi.
When i have only one silo entry in Membership Collection, Orleans Client (web api) is not able to connect to it. Im getting error:
Could not find any gateway in global::Orleans.Providers.MongoDB.Membership.MongoGatewayListProvider

Steps to reproduce:
So, im launching Silo, entry is created:

[code]
then launching Orleans Client, im getting error. Shutting down everything. Start silo again. An

[2019-06-19 14:08] ReubenBond commented on #65
Are there any other messages, eg indicating that there was a failed connection attempt to that gateway? Could you also show me how the ClusterId & ServiceId are being configured? - Let's verify that the values are the same on the client + silo. Do you have logs from client + silo that you can share (possibly redacted)?

[2019-06-19 14:43] SebastianStehle commented on #65
Off topic: Would be great, if you could format your issue next time. Was just a wall of text.

[2019-06-21 06:29] darthkurak commented on #65
Hi. Sorry, for bad format. Will do better next time.
On Client Side im getting only this:
[code]

Silo Configuration:

[code]
Client Configuration:

[code]

That work, but only when i have at least two entries in membership collection.

[2019-06-21 13:09] ReubenBond commented on #65
Your configuration looks correct to me.

When you say "shutting down everything", are you doing that manually or is it shutting itself down?

It seems like a bug in the mongodb provider, but I'm not sure. Is anyone else able to repro?

[2019-06-21 13:30] darthkurak commented on #65
Myself. Locally - by stop debug, on linux-  Just systemctl stop of silo and web api process.
What is more interesting.
I updated packages to 2.3.5, and it seems that this doesn't work even if i have more than one row.
Difference which I see, is that in 2.3.5 there is auto-cleanup of Membership Table, so i don't have two rows with Active status in the same time. It looks like, MongoDbProvider needs

[2019-06-21 13:37] ReubenBond commented on #65
Are you able to run the client under a debugger and step into `OutsideRuntimeClient` & so on, all the way through to [`MongoGatewayListProvider.GetGateways`](https://github.com/OrleansContrib/Orleans.Providers.MongoDB/blob/53214943d5bd0a807c7e6f2ee284144f236678c3/Orleans.Providers.MongoDB/Membership/MongoGatewayListProvider.cs#L55)? I wonder what's going on internally...

[2019-06-21 14:14] darthkurak commented on #65
It seems that i find out a problem.
We are using MongoDb for our Domain Model.
We have separate MongoDbContext which have its own BsonSerializer settings, including CamelCaseElementNameConvention.
That interfere with what is set by MongoDbProvider for Orleans. As MongoDb provider has only one global place for settings, our settings and convention overrides that from MongoDbProvider.
Everything wor

[2019-06-21 15:42] SebastianStehle commented on #65
From our side we do not catch any exceptions: https://github.com/OrleansContrib/Orleans.Providers.MongoDB/blob/master/Orleans.Providers.MongoDB/Membership/MongoGatewayListProvider.cs#L55

[2019-06-24 17:43] ErroneousFatality opened #66 "Exceptions because the provider can't deserialize datetimes."
I'm using the latest version of this library from Nuget, v2.4: https://www.nuget.org/packages/Orleans.Providers.MongoDB/

How can I deserialize DateTimes properly?

[2019-06-24 19:45] SebastianStehle commented on #66
What exception do you get?

[2019-06-25 13:51] ErroneousFatality commented on #66
[code]

[2019-06-25 15:21] vella-nicholas commented on #66
Are you trying to use reminders? What is your setup?

[2019-06-25 15:22] ErroneousFatality commented on #66
Yes I am using reminders.
I'm not sure which setup you are refering to.

[2019-06-25 15:24] vella-nicholas commented on #66
In the example have a look at `INewsReminderGrain` and confirm you are doing something similar.

[2019-06-25 15:27] ErroneousFatality commented on #66
Yeah, my RoundGrains (max 20 active at a time) register a Reminder on a 1minute interval to reactivate them up, in case they get deactivated, because they have some Timer logic that needs to be done.

[2019-06-26 07:53] vella-nicholas commented on #66
@SebastianStehle Any thoughts, please? I am not that accustomed to reminders.

[2019-07-12 02:00] sdghchj commented on #47
over

[2019-07-12 02:00] #47 closed

[2019-07-16 11:55] dzmitry-lahoda opened #67 "why readWrite on admin required?"
MongoDB provider works with next config:

[code]

MongoDB provider fails withe next config:

[code]

In code on both caseы only storage is used (all other storages are in memory)

[code]

Connection string:
[code]

Same connection string is used for `ASP.NET Identity` and it works with no `admin` rights.

So why `readWrite` on `admin` is required?

[2019-07-16 13:03] dzmitry-lahoda commented on #67
workaround
[code]
[code]
#64

[2019-07-16 13:28] SebastianStehle commented on #67
I am not sure if I follow you, but there is no explicit permission requested.

[2019-07-16 15:33] dzmitry-lahoda commented on #67
Database is erased by validator. Orleans calls for state storage lead to Mongo trying to auth client against all databases and fails on admin. And all fails. Event if I never asked to use `admin`.

[2019-07-18 10:34] dzmitry-lahoda opened #68 "Does this provider support streams?"

[2019-07-18 13:20] SebastianStehle commented on #68
No

[2019-08-22 04:46] bluexo opened #69 "Publish the "Release" version package to NuGet"
When I run a benchmark test , I got this issues

[code]

[2019-08-22 04:48] bluexo commented on #69
@SebastianStehle

[2019-08-22 04:54] SebastianStehle commented on #69
I can fix it this weekend.

[2019-10-19 09:11] Jame6292 opened #70 "Seems that the gateways marked as dead did not been removed in time"
I received these warnings when i close my silos.
`warn: Orleans.Messaging.GatewayManager[101321]
      All gateways have previously been marked as dead. Clearing the list of dead gateways to expedite reconnection.
`

So i guess `Orleans.Providers.MongoDB` did not  remove dead gateways in time.
Of course, these gateway documents still existed in the collection OrleansMembershipV2

I hope this can b

[2019-10-19 14:50] SebastianStehle commented on #70
So far there is no automatic cleanup in Orleans 2.X I think. The interface has been introduced with 3.0 or am I wrong?

[2019-10-19 15:16] Jame6292 commented on #70
Hi,
Thanks for your reply.

Now I'm using `Orleans 3.0 rc2` . I didn't find any warnings like this in Orleans 2.X.

So, I think the "cleanup" feature came from 3.0.

[2019-10-19 17:35] SebastianStehle commented on #70
Yes, it is this method: https://github.com/dotnet/orleans/search?q=CleanupDefunctSiloEntries&unscoped_q=CleanupDefunctSiloEntries

As you can see, even the support in Orleans itself is not so good. I will implement it as soon as 3.0 is out, I wait to migrate my application as well and Orleans is the last bit.

[2019-10-20 01:25] Jame6292 commented on #70
Yes, most of them are `Not Implemented`.

 I guess they will be implemented in Orleans 3.0 release.

Thank you very much.

[2019-10-24 11:25] jurby commented on #70
https://github.com/dotnet/orleans/blob/4d92fce6a4d5b2910c204c0269fd6d9c58394654/changelog.

[2019-10-24 13:03] SebastianStehle commented on #70
I know.

[2019-10-25 12:27] SebastianStehle commented on #69
Done, sorry for the super long delay.

[2019-10-25 12:27] #69 closed

[2019-10-25 12:27] SebastianStehle commented on #70
Done and deployed to nuget as 3.0

[2019-10-25 12:27] #70 closed

[2019-10-25 12:27] #60 closed

[2019-10-25 15:37] Jame6292 commented on #70
I'm really very much appreciate your help

[2019-11-07 17:58] ReubenBond opened #71 "Clustering: support extended membership protocol"
The current implementation of this clustering provider only supports the initial membership protocol, not the later [extension to the protocol](https://dotnet.github.io/orleans/Documentation/implementation/cluster_management.html#extension-to-totally-order-membership-views) to support totally ordered views of cluster membership.

It's important to support this so that the provider will function co

[2019-11-08 13:23] SebastianStehle commented on #71
Done in this big PR: https://github.com/OrleansContrib/Orleans.Providers.MongoDB/pull/72

[2019-11-09 10:09] SebastianStehle commented on #71
Solved with 2 different approaches.

[2019-11-09 10:09] #71 closed

[2019-11-09 10:10] #67 closed

[2019-11-09 10:11] #65 closed

[2019-11-09 18:57] ReubenBond commented on #71
Very quick turnaround, @SebastianStehle - the result looks great!

[2019-11-09 20:24] SebastianStehle commented on #71
Thx, I need it myself, I am using the provider in production and the rolling deployment is a little bit jolty and I am not sure yet, what the reason is.

[2020-02-26 12:59] heikki-heikkinen-ptcs commented on #66
We ran into DateTime serialization/deserialization problem as well. The culprit in our case seems to be MongoGrainStorage.ToBson (`public static BsonValue ToBson(this JToken source)`)
The case for datetime looks like this:
[code]

The ToString calls do not specify the format provider therefore the time separator (:) will get replaced by the current culture's `DateTimeFormatInfo.TimeSeparator`. Thi

[2020-03-08 18:43] cwoodall-arch opened #75 "AddMongoDBGrainStorage"
This is probably related to the breaking change, but I can't seem to resolve the issue. My silo works fine without AddMongoDBGrainStorage, but it fails with the following error when I add it:

Here is my silo if it helps:

            Host.CreateDefaultBuilder(args)
            .UseOrleans((host, config) =>
            {
                config.UseMongoDBClient(host.Configuration.GetSection("MongoS

[2020-03-08 20:39] SebastianStehle commented on #75
Perhaps an issue with the custom name "TestStore"? Have you tried the "asDefault" variant?

[2020-03-11 19:41] cwoodall-arch commented on #75
Hi. I just tried using the AddMongoDBGrainStorageasDefault method, and I get the same result.

[2020-03-12 06:03] SebastianStehle commented on #75
I cannot reproduce it, I need a sample

[2020-04-10 04:34] GundamBox commented on #75
It works fine in localhost, but got the same exception in Azure Cosmos DB

Then I found this [issue](https://github.com/dotnet/orleans/issues/5543), so I clone the source code and replace `IOptionsSnapshot` to `IOptionsMonitor`, and it just works.

PS. English is not my native language.

[2020-04-10 04:41] ReubenBond commented on #75
Yes, it should be the same fix as here: https://github.com/OrleansContrib/Orleans.CosmosDB/pull/43/files

@GundamBox, could you submit a PR?

[2020-04-10 09:50] #75 closed

[2020-05-25 06:54] AwsomeCode opened #77 "Exception=A write operation resulted in an error. Cannot create namespace MembershipOrleans.OrleansMembershipV3_TableVersion in multi-document transaction"
`MongoMembershipTable.InsertRow failed. Exception=A write operation resulted in an error. Cannot create namespace MembershipOrleans.OrleansMembershipV3_TableVersion in multi-document transaction`

![image](https://user-images.githubusercontent.com/11809653/82786612-91f65b00-9e82-11ea-995e-2f33638d3c2d.png)

[2020-05-25 15:44] #77 closed

[2020-06-06 21:21] #68 closed

[2020-06-06 21:22] #51 closed

[2020-06-06 21:22] #66 closed

[2020-08-17 12:47] HandOfSorrow opened #81 "Is this a bug?"
![Uploading 图片.png…]()

[2020-08-17 12:47] #81 closed

[2020-08-17 12:47] HandOfSorrow commented on #81
Picture not uploaded

[2020-08-17 12:51] HandOfSorrow opened #82 "AddMongoDBMembershipTable bug"
![Snipaste_2020-08-17_20-50-44](https://user-images.githubusercontent.com/7778541/90398032-59ee6500-e0cb-11ea-8e66-4ff42f949f99.jpg)

[2020-08-17 13:07] ReubenBond commented on #82
Hi, @HandOfSorrow, are you able to submit a PR?

[2020-09-17 14:53] ygrinevich opened #83 "Orleans 3.3 support?"
Is any code required to support this feature https://github.com/dotnet/orleans/pull/6580

[2020-09-17 15:20] SebastianStehle commented on #83
Yes, PR is welcome ;)

[2020-12-23 23:07] AlseinX commented on #83
PR Ready. #85

[2021-03-23 09:16] AlseinX commented on #83
@SebastianStehle Currently there was no nuget package published after the PR was merged.
Is there any plan to publish a new version for this?

[2021-03-23 14:54] SebastianStehle commented on #83
It should be pushed now.

[2021-05-20 04:06] vrecluse opened #86 "Exception when serialize state..."
I'm using Orleans.Providers.MongoDB as grain storage, but ran into this exception.

[code]

Is it caused by circular reference or duplicated reference? But my state definition is fairly simple:
[code]

[2021-07-20 19:35] shersh opened #89 "Stat can't have Ulong or Uint fields"
I know, MongoDb does not support UInt64 and UInt32 types.
But this provider allows save state with ulong field as long and can't read this if field will be overflowed for long.

For example

[code]

It will cast to long during saving to db.
But will be crashed when activating grain again.

[2021-07-21 08:08] SebastianStehle commented on #89
But there is no solution I guess

[2021-07-21 09:45] shersh commented on #89
@SebastianStehle why?
If you cast ULong to long and after cast it to ULong - you will get rigth number. Problem is in deserialization from bson document to model.

[2021-07-21 11:27] SebastianStehle commented on #89
The provider uses JSON.NET for serialization and then converts it to BSON: https://github.com/OrleansContrib/Orleans.Providers.MongoDB/blob/master/Orleans.Providers.MongoDB/StorageProviders/JsonBsonConverter.cs

If you have a solution you can provide a PR for it.

[2021-08-25 13:40] ReubenBond commented on #86
This sounds like something related to JSON.NET. I would guess that your dictionary is being concurrently modified and so there's a data race somewhere, but I'm not sure.

[2021-08-28 01:23] truegoodwill opened #90 "NullReferenceException"
This was found in my Orleans log. I'm guessing this happened because the collection was not already present in the db?

[code]

Configuration:

[code]

[2021-08-28 19:49] SebastianStehle commented on #89
I recommend to provide a custom serializer for this case.

[2021-08-28 19:49] #89 closed

[2021-08-28 19:50] SebastianStehle commented on #86
Yes, I think @ReubenBond is correct here.

[2021-08-28 19:50] #83 closed

[2021-08-28 19:51] #82 closed

[2021-08-28 20:17] SebastianStehle commented on #90
I added a very simple streaming scenario, but I cannot reproduce it.

[2021-11-24 17:03] officeSpacePirate opened #92 "Expectations for Grain identity, state, and Mongo _id"
I am having trouble setting up the StorageProvider against an existing collection and could use some guidance. I am unable to get a simple UserGrain to load it's state from the database, but I believe I have everything setup as expected.

Going through the Test project here, I noticed that the only Grain used is WithIntKey and an Id property is not specified on the state object. What are the expec

[2021-11-24 18:06] officeSpacePirate commented on #92
Just created a simple test to write documents to the database and realize what the issue is. Since the StorageProvider is setup to write grains in nested documents, does that mean this is not compatible with existing databases/collections? I'm trying this out with a prototype project, but would like to move to PersistentState in a well established app.

This also makes me curious whether this stru

[2021-11-24 19:42] SebastianStehle commented on #92
No, we don't your contributions, especially not for something as boring as documentation, where nobody wants to do something ;) ;)

[2021-12-20 15:19] diegofrata commented on #92
@officeSpacePirate the provider uses Newtonsoft Json to serialize the state, not MongoDB's Bson serializer. So there's no point in tagging or using Bson attributes in your state, it won't be used. I recommend reading the source code, it's not long, will give you a good insight into how it works.

[2021-12-20 16:21] officeSpacePirate commented on #92
Yeah, I've been doing a combination of that and playing with different options in a prototype project. I think I was naïve in my understanding of virtual actors and state management before. While streams, membership, etc. are really nice features to have from this lib, I'm considering removing PersistentState features from my application entirely and just building my own version of the features I

[2021-12-20 16:21] #92 closed

[2021-12-21 11:58] #90 closed

[2022-01-05 03:15] suixin567 opened #94 "Does this project include ORM functionality?"
I see only State storage, not ORM correlation.

[2022-01-05 07:49] SebastianStehle commented on #94
What is your definition of ORM?

[2022-01-11 06:46] vrecluse opened #95 "Does options.CreateShardKeyForCosmos work on on-premise MongoDB?"
Or only Cosmos is supported?

[2022-01-11 07:17] SebastianStehle commented on #95
Yes

[2022-01-11 12:12] vrecluse commented on #95
To the title or comment?

[2022-01-11 12:19] SebastianStehle commented on #95
Sorry, it has been only tested for cosmos DB I think, because you need a shared key in cosmos. But I do not use it myself.

[2022-01-21 12:25] randrewy opened #96 "MongoDb UUID storage type support"
There is a way to set guid db representation using C# MongoDb client using [GuidSerializer](https://mongodb.github.io/mongo-csharp-driver/2.11/reference/bson/guidserialization/serializerchanges/guidserializerchanges/)
Is there anything like that option in MongoDB Storage Provider? Any plans to add it in future?

I've tried both `[BsonGuidRepresentation(GuidRepresentation.Standard)]` annotation on

[2022-01-21 13:35] SebastianStehle commented on #96
What is the current represenation?

[2022-01-22 19:28] randrewy commented on #96
Currently it is stored as string like `.ToString` was called on guid object:  `"db331560-56c6-4a35-84cc-1846d0d5cc7e"`

[2022-01-22 21:18] SebastianStehle commented on #96
This library does not use mongo serializer. It uses Newtonsoft.JSON and then converts it to BSON. So you can write your own serializer if you need another representation. But binary data is not supported.

[2022-01-23 09:50] randrewy commented on #96
Actually I can write custom converter to store Guid as binary data, but that means I have to
* manually decide how to order bytes in represenatation (.Net uses non-rfc byte order if you call `.ToByteArray()`)
* manually encode my guid as bytes if I want to perform a query from mongoDbClient shell

I've looked through the code and found this converter you are talking about and there is this special

[2022-01-23 10:02] SebastianStehle commented on #96
I do not see that much benefit in a byte representation. It is so much harder to debug.

But you are welcome to provide a PR, but it must be backwards compatible. `BsonDefaults.GuidRepresentation` is therefore not an option.

I see 2 options:

1. Just provide a flag for the line you mentioned. But you have to think about how to do the deserialization.
2. Provide a flag to use Mongo Serialization i

[2022-04-18 19:07] nkindberg opened #97 "CleanupDefunctSiloEntries broken for MultipleMembershipCollection"
We are using `MongoDBMembershipStrategy.Muiltiple` and noticed that we have a large number of defunct entries accumulating in the membership table which aren't getting cleaned-up as expected.

I believe this is related to DateTime vs. DateTimeOffset issues in the `DeleteManyAsync` call.

https://github.com/OrleansContrib/Orleans.Providers.MongoDB/blob/22bc56b54b9407453116d9f2294700e40992bdb4/Orlea

[2022-05-31 06:26] tomhreb opened #98 "CreateShardKeyForCosmos does not create sharded collection"
Hello,
I think that the method ```GetCollection``` ->
https://github.com/OrleansContrib/Orleans.Providers.MongoDB/blob/84a3237dbfb6f6510ca2ed954304d7871ee3edb7/Orleans.Providers.MongoDB/StorageProviders/MongoGrainStorage.cs#L193-L200

is missing specification of shard key as for CosmsoDB as per the [documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb/custom-commands#create-a-sh

[2022-05-31 08:07] SebastianStehle commented on #98
Could be, not a CosmosDB user. PRs are welcome ;)

[2022-06-06 13:40] tomhreb commented on #98
Great :) See PR #99

[2022-06-25 03:22] jeremylcarter opened #100 "Investigate compatibility with Orleans v4 preview"
I think we should investigate compatibility with the breaking changes coming in Orleans v4.

I have forked the repository and will see what work is involved.

[2022-06-25 05:30] jeremylcarter commented on #100
I have done the major legwork to target .NET Core 3.1 and Orleans v4.

https://github.com/jeremylcarter/Orleans.Providers.MongoDB/tree/feature/orleans_v4

[2022-06-25 09:57] SebastianStehle commented on #100
Thanks for your work.

Many important test classes are not available as nuget package, therefore I just built Orleans myself and added everything to the libs folder.

Created a PR for that: https://github.com/dotnet/orleans/issues/7817

[2022-06-25 10:46] jeremylcarter commented on #100
Oh I see! So I just need to get the latest of those classes and compile
them?

On Sat, 25 June 2022, 7:57 pm Sebastian Stehle, ***@***.***>
wrote:

[2022-06-25 10:48] SebastianStehle commented on #100
Yes, exactly. it sucks, but I think it is better than writing these tests manually.

[2022-06-25 10:48] jeremylcarter commented on #100
It wasn't a big deal upgrading, I quite enjoyed it.

On Sat, 25 June 2022, 7:57 pm Sebastian Stehle, ***@***.***>
wrote:

[2022-07-02 01:49] jeremylcarter commented on #100
@SebastianStehle I will need some help getting the tests organized.

[2022-07-18 11:21] vrecluse commented on #86
I run into this problem again, and found that maybe it's caused by Json.Net, which is not thread-safe when reuse the same serializer:

https://github.com/JamesNK/Newtonsoft.Json/issues/1452

In this driver's JsonGrainStateSerializer, it reuses JsonSerializer, and was registered as Singleton:
[code]

But in OrleansJsonSerializer.cs, the implemetation of Serialize method, calls JsonConverter.Seriali

[2022-07-31 14:11] P9avel opened #101 "Now i have _doc as inner property. i am want to have all internal properties on top level (as columns)"
I am want save all without _doc property. How to do it?

![Безымянный](https://user-images.githubusercontent.com/95086762/182030332-fea0c1b2-3ed5-4851-a9db-fe4ab8755f94.png)

[2022-07-31 14:34] SebastianStehle commented on #101
It is not possible or not easily possible:

Somehow you have to create a object and you have the following properties from Orleans:

* Key
* Etag
* Value

First of all the value could be a primitive, like string, but even if it would be a document it would be tricky to convert it to a flat document. Lets say you have the following value

[code]

Then your Id would overlap with the mongodb _id whic

[2022-07-31 14:51] P9avel commented on #101
Many thanks for quick answer. I am understood now

[2022-07-31 15:26] #101 closed

[2022-07-31 15:26] SebastianStehle commented on #100
How is it going?

[2022-07-31 15:27] #98 closed

[2022-07-31 15:28] SebastianStehle commented on #96
Is this something you want to work on or can we close the issue?

[2022-07-31 15:28] #96 closed

[2022-07-31 15:28] #95 closed

[2022-07-31 15:28] #94 closed

[2022-07-31 15:29] SebastianStehle commented on #86
Can you provide a PR for that?

[2022-07-31 16:04] #97 closed

[2022-07-31 16:09] #86 closed

[2022-07-31 18:10] SebastianStehle commented on #100
In the current branch the tests were actually not running. I fixed that.

[2022-07-31 18:49] P9avel opened #102 "How to tuning WriteConcern value?"
I am used MongoDB.Driver and tuned so database.GetCollection<T>(GetCollectionName())                                           .WithWriteConcern(GetCollectionWriteConcern());

How to turn in Orleans.Providers.MongoDB?

[2022-07-31 21:11] SebastianStehle commented on #102
I added this property to the options: https://github.com/OrleansContrib/Orleans.Providers.MongoDB/blob/master/Orleans.Providers.MongoDB/Configuration/MongoDBOptions.cs#L37

[2022-08-01 06:38] P9avel commented on #102
When you released new version?

[2022-08-01 06:45] SebastianStehle commented on #102
it has been released as 3.8

[2022-08-01 08:55] P9avel opened #103 "How set full collection name (not postfix only)"
Hello, i am have Grain
public class UserGrain : Grain, IUser
    {
        private IPersistentState<UserData> _userData;

        public UserGrain([PersistentState("Users")] IPersistentState<UserData> userData)
        {
            this._userData = userData;
        }

        public async Task CreateUser(DateTime created)
        {
            _userData.State.Id = this.GetPrimaryKey();

[2022-08-01 08:57] SebastianStehle commented on #103
Just set the CollectionPrefix to an empty string.

[2022-08-01 09:03] P9avel commented on #103
Many tnx, works!

[2022-08-01 09:25] #103 closed

[2022-08-06 10:18] jeremylcarter commented on #100
I'll sort out a branch this week and collaborate with you if you're keen. Thanks.

[2022-08-17 16:04] P9avel opened #104 "Can you to provide IRepository for grain State manipulation?"
Hi. i am have grain
public class MyGrain : Grain<MyGrainState>, /*...*/
{
  /*...*/
}

And state
public class MyGrainState
{
   public string Property1 {get;set; }
   public string Property2 {get;set; }
}

I am want to have IMongoRepository<MyGrain> with methods
1. Task<IList<MyGrainState>> GetList(Predicate<MyGrainState> filter, CancellationToken cancellationToken)
2. Task<IList<MyGrainState>> Ge

[2022-08-17 19:31] SebastianStehle commented on #104
It is not planned from my side, you have to open a PR for that.

[2022-08-18 11:03] P9avel commented on #104
I am think not enougth my knolledges for implemention this task. But i think very important feature

[2022-08-18 11:44] SebastianStehle commented on #104
Nobody has asked for that yet. So I guess it is not that important

[2022-08-18 19:34] P9avel commented on #104
Because nobody know about this.  For example i am need to show grains in Grid with filtering, without activation

[2022-08-18 20:20] SebastianStehle commented on #104
Yes, but you could just implement your own storage solution. Or you build a custom class that just uses the same collection.

The problem is that the provider uses JSON.NET for serialization, therefore the individual properties are known by the mongo serializer and you cannot use linq.

[2022-10-12 04:02] wassim-k opened #105 "Thoughts on the future of IGrainStateSerializer"
IMO, one great feature about using mongo as a grain storage provider is that it enables a good experience for viewing, filtering and querying grain state, whether from Compass or from other microservices querying the data directly.

I've noticed with Orleans v4, there has been a move to storing grain state in binary format, for example this is the interface for `IGrainStorageSerializer`
[code]

An

[2022-10-12 04:28] wassim-k opened #106 "Support for BSON Serializer"
Currently, this provider only supports using Json.NET for serializing grain state to MongoDB.
It would be great to support the option to use BSON Serializer shipped with mongodb driver instead, since it has great documentation, support and many features that are specific for mongo db storage.

For example a more generic interface like this one might serve the purpose:
[code]

Current implementatio

[2022-10-12 13:56] #104 closed

[2022-10-12 13:56] #102 closed

[2022-10-12 13:58] SebastianStehle commented on #105
Personally I would like to be able to debug my grain states. I mean you cannot really modify that, because it would not change the state of the Grains, but at least you can see what is going on.

I am open for a PR to support that, but I would not shift to that. Also for backwards compatibility.

[2022-10-12 14:02] SebastianStehle commented on #106
The serializer already exists, but is coupled to json now. Should be easy to change it return BsonDocument now.

But I would probably go with BsonValue instead of BsonDocument to support scalars line `int`, `string and so on. Do you want to provide a PR for that?

[2022-10-12 18:57] wassim-k commented on #105
Great, we're in agreement then, thank you.

[2022-10-12 18:57] #105 closed

[2022-10-12 21:54] wassim-k commented on #106
Is it okay to introduce a breaking change by changing the current definition of `IGrainStateSerializer`?

[2022-10-12 23:04] SebastianStehle commented on #106
For 4.0...yes

[2022-10-12 23:18] wassim-k commented on #106
Sounds good, once the 4.0 changes are merged, I'll raise a PR for this.

[2022-10-13 13:45] SebastianStehle commented on #106
Great. I am not planning any migration before Orleans 4.0 is released. So nothing for prereleases.

[2022-10-26 14:24] SebastianStehle opened #107 "Looking for Maintainer"
Hi together,

I am not using Orleans anymore. It is a great framework, but there are some challenges which made it overly complicated in my use case.

Therefore I would like to find a maintainer for this library. Any applications are welcome. As an application, an update to Orleans 4 would be great.

[2022-10-26 23:03] wassim-k commented on #106
Just a heads up, the work on this is already done, let me know when it's time to merge it into the 7.0 migration.

[2022-11-10 16:10] MarkusGeigerDev commented on #100
How are things going, folks? I also had a quick look and made quite a progress after yesterdays release of Orleans 7 but then I stumbled across the same issue with the ./libs.
@jeremylcarter: Should we work together to get this up and running for Orleans 7? I would even considering stepping in as a (co-)maintainer for this package.

[2022-11-10 16:14] SebastianStehle commented on #100
We could just use a git submodule and import the necessary project files into the solution.

I am not using Orleans anymore so I would really appreciate that.

[2022-11-10 16:49] MarkusGeigerDev commented on #100
Good idea. Could you help to prepare that?

Yeah, I read about that in the other issue. I'm on the other hand am just getting deeper into it and I am definitely interested in keeping the MongoDB support alive :)

[2022-11-10 17:16] SebastianStehle commented on #107
I would say we should just start. Perhaps we can move it to the main repository, when we are done with the migration...

[2022-11-10 17:17] SebastianStehle commented on #100
I can have a look, but I guess it would be a good first issue for you as well ;) ...

so

1. Import libs from submodule
2. Create 3.X branch
3. Work on 4.X migration

[2022-11-10 20:29] jeremylcarter commented on #100
Did you want to catch up? I'll push up my branch.

On Fri, 11 Nov 2022, 4:17 am Sebastian Stehle, ***@***.***>
wrote:

[2022-11-10 20:53] jeremylcarter commented on #100
My branch is here:

jeremylcarter/Orleans.Providers.MongoDB at feature/orleans_v4 (github.com)
<https://github.com/jeremylcarter/Orleans.Providers.MongoDB/tree/feature/orleans_v4>

Commits:

Comparing OrleansContrib:master...jeremylcarter:feature/orleans_v4 ·
OrleansContrib/Orleans.Providers.MongoDB (github.com)
<https://github.com/OrleansContrib/Orleans.Providers.MongoDB/compare/master...jeremylc

[2022-11-10 20:56] jeremylcarter commented on #107
I am happy to help Markus maintain this project. We use this project in production at work so I should be able to dedicate some hours to it.

[2022-11-10 21:04] jeremylcarter commented on #107
So squidex isn't using Orleans anymore?

[2022-11-10 22:32] SebastianStehle commented on #100
Just create a PR and I can help and review

[2022-11-11 03:14] wassim-k commented on #107
Hi all, I've been maintaining a fork of @MarkusGeigerDev  v4 work within our organisation as we've been using it with Orleans v4 preview in production for a while now.
I've currently got it working with Orleans v7 with support for BSON serializer as mentioned in #106
So I'll be happy to help out too.

[2022-11-11 08:02] SebastianStehle commented on #107
I think we need a main maintainer. Just create a PR for now and we can have a look together.

[2022-11-11 10:59] MarkusGeigerDev commented on #100
Thanks!
I'm looking through your changes and comparing them to mine. It seems like there were a few breaking changes between v4-rc and v7 and I'm trying to kind of merge what you did with my changes. I suggest that I will push my branch when I'm ready and then let's decide what to bring forward as a PR.

[2022-11-11 16:28] MarkusGeigerDev commented on #100
@jeremylcarter
Here's my port: https://github.com/MarkusGeigerDev/Orleans.Providers.MongoDB/tree/Orleans_v7
I still didn't get the unit tests to work - I will probably try Sebastian's suggestion with the submodules later

[2022-11-11 16:35] SebastianStehle commented on #100
I have created a PR to visualize the changes.

[2022-11-11 16:39] MarkusGeigerDev commented on #100
BTW: I followed these guidelines and hints: https://learn.microsoft.com/en-us/dotnet/orleans/whats-new-in-orleans

[2022-11-11 17:41] MarkusGeigerDev commented on #107
Not yet :) I'll create one over the weekend. Thanks!

[2022-11-12 03:47] wassim-k commented on #107
PR crerated #109, if I get a bit more time, I'll create a separate one for serialization refactor work.

[2022-11-12 10:57] SebastianStehle commented on #107
I didn't want to make a contest ...

[2022-11-12 11:43] wassim-k commented on #107
Yeh, I only noticed @MarkusGeigerDev had raised a PR after I posted mine.

[2022-11-12 13:04] SebastianStehle opened #110 "Road to Next stable version"
Hi,

I think these are the tasks that should be solved:

* [x] Migrate to Orleans 7 (#100)
* [x] #111
* [x] Add support for Bson serializer. (#106)
* [x] Decide who is the main contributor / project admin from now on. (#107)

[2022-11-12 13:04] SebastianStehle opened #111 "Add source link and ensure that we also push symbols to Nuget."

[2022-11-14 00:18] #106 closed

[2022-11-14 08:11] #111 closed

[2022-11-14 09:36] #100 closed

[2022-11-14 09:36] SebastianStehle commented on #107
@wassim-k Do you have a nuget account?
@MarkusGeigerDev Have you created a nuget account?

[2022-11-14 09:48] MarkusGeigerDev commented on #107
Yes, https://www.nuget.org/profiles/MarkusGeigerDev

[2022-11-14 09:51] wassim-k commented on #107
I just created [an account](https://www.nuget.org/profiles/wassim-k)

[2022-11-14 10:10] SebastianStehle commented on #107
Awesome. Everybody is invited.

[2022-11-14 10:11] #110 closed

[2022-11-21 23:07] htxryan opened #115 "Call to RegisterOrUpdateReminder throws exception: "No service for type 'Orleans.Timers.IReminderRegistry' has been registered.""
Hello!

I'm facing an issue when upgrading from 3.x to 7.

Calls to `RegisterOrUpdateReminder()` from grains that implement `IRemindable` throw exceptions: "No service for type 'Orleans.Timers.IReminderRegistry' has been registered."

As noted [here](https://learn.microsoft.com/en-us/dotnet/orleans/whats-new-in-orleans#packaging-changes), a reference to `Microsoft.Orleans.Reminders` has been added

[2022-11-21 23:12] wassim-k commented on #115
Have you called `AddReminders` similar to how it's done [in our integration test](https://github.com/OrleansContrib/Orleans.Providers.MongoDB/blob/master/Test/Host/Program.cs#L37)?

[2022-11-21 23:18] htxryan commented on #115
@wassim-k Bingo, that worked! You rock -- thank you for the quick help. Did I just overlook it, or was this not mentioned in the Orleans upgrade docs? Reminders were working for us in 3.x without this call, so it seems like a 7.x breaking change.

[2022-11-21 23:18] #115 closed

[2022-11-21 23:24] wassim-k commented on #115
Yeh, I haven't seen a reference to it in the docs either. I had do some digging into Orleans code to work it out.

[2022-11-22 00:34] htxryan commented on #115
@wassim-k I created a PR to add this call automatically, so no one else gets hung up on this; https://github.com/OrleansContrib/Orleans.Providers.MongoDB/pull/116